In [1]:
print("ini adalah file code guided praktikan")

ini adalah file code guided praktikan

In [1]:
nama = "Yanto"
umur = 38
print(f"Nama : {nama} \nUmur : {umur}")

Nama : Yanto
Umur : 38

In [2]:
from math import pi

jari = 8
luas = pi *jari**2
keliling = 2*pi*jari
print(f"Luas Lingkaran : {luas} \nKeliling Lingkaran : {keliling}")

Luas Lingkaran : 201.06192982974676
Keliling Lingkaran : 50.26548245743669

In [3]:
angka = 129
teks = 'ini angka'
print(f"Tipe Data Angka : {type(angka)} \nTipe Data Teks : {type(teks)}")

Tipe Data Angka : <class 'int'>
Tipe Data Teks : <class 'str'>

In [4]:
nilai = 100
print(f'nilai kamu adalah {nilai} dan tipe datanya adalah {type(nilai)}')
nilai = float(nilai)
print(f'nilai kamu adalah {nilai} dan tipe datanya adalah {type(nilai)}')

nilai kamu adalah 100 dan tipe datanya adalah <class 'int'>
nilai kamu adalah 100.0 dan tipe datanya adalah <class 'float'>

In [1]:
a = "123"
print(f"Tipe Data a : {type(a)}")
a = int(a)
print(f"Tipe Data a : {type(a)}")

Tipe Data a : <class 'str'>
Tipe Data a : <class 'int'>

In [2]:
text = "ulang "
multiplied_text = text * 3
print(multiplied_text)

ulang ulang ulang

In [3]:
number = 7
if number % 2 == 0:
  print("Genap")
else:
  print("Ganjil")

Ganjil

In [4]:
value = 150
if value > 100:
    print("lebih dari 100")
else:
    print("100 atau kurang dari")

lebih dari 100

In [5]:
age = 16
if age <= 12:
    print("Anak-anak")
elif 13 <= age <= 17:
    print("Remaja")
else:
    print("Dewasa")

Remaja

In [6]:
username = input("Enter username: ")
if username == "Jono":
    print("Selamat datang {username}")
elif username == "Slamet":
    print(f"Selamat datang {username}")
else:
    print("Nama tidak dikenali")

Nama tidak dikenali

In [7]:
year = 2024
if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print("Tahun Kabisat")
else:
    print("Bukan Tahun Kabisat")

Tahun Kabisat

In [8]:
age = 18
if age >= 18:
    print("Boleh memberikan suara")
else:
    print("Tidak boleh memberikan suara")

Boleh memberikan suara

In [9]:
a, b, c = 3, 7, 5
largest = max(a, b, c)
print(f"Nilai terbesar {largest}")

Nilai terbesar 7

In [10]:
str1 = "hello"
str2 = "world"
if len(str1) == len(str2):
    print("Memiliki Panjang yg sama")
else:
    print("Memiliki panjang yg berbeda")

Memiliki Panjang yg sama

In [11]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [12]:
i = 2
while i <= 20:
    print(i)
    i += 2

2
4
6
8
10
12
14
16
18
20

In [13]:
sentence = input("Masukkan Kalimat: ")
for _ in range(5):
    print(sentence)

yanto gembu
yanto gembu
yanto gembu
yanto gembu
yanto gembu

In [14]:
N = 10
total_sum = sum(range(1, N + 1))
print(f"Sum dari 1 to {N} adalah {total_sum}")

Sum dari 1 to 10 adalah 55

In [15]:
for i in range(1, 11):
    if i == 5:
        break
    print(i)

1
2
3
4

In [16]:
for i in range(1, 11):
    if i == 5:
        continue
    print(i)

1
2
3
4
6
7
8
9
10

In [17]:
for i in range(1, 11):
    for j in range(1, 11):
        print(f"{i} x {j} = {i * j}")
    print()

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [18]:
start = 1
end = 10
sum_odds = sum(i for i in range(start, end + 1) if i % 2 != 0)
print(f"Sum of odd numbers between {start} and {end} is {sum_odds}")

Sum of odd numbers between 1 and 10 is 25

In [1]:
def triangle_area(base, height):
    return 0.5 * base * height

print(triangle_area(10, 5))

25.0

In [2]:
def greet(name):
    print(f"Halo, {name}")

greet("Alice")

Halo, Alice

In [3]:
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

print(is_prime(7))

True

In [4]:
def max_of_three(a, b, c):
    return max(a, b, c)

print(max_of_three(3, 7, 5))

7

In [5]:
def celsius_ke_fahrenheit(celsius):
    return (celsius * 9/5) + 32

print(celsius_ke_fahrenheit(30))

86.0

In [6]:
def gabung(str1, str2):
    return str1 + str2

print(gabung("Hello, ", "World!"))

Hello, World!

In [7]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)

print(factorial(5))

120

In [8]:
def sum_list(numbers):
    return sum(numbers)

print(sum_list([1, 2, 3, 4, 5]))

15

In [9]:
names = ["Alice", "Bob", "Charlie", "David", "Eve"]

In [10]:
print(names[0])
print(names[-1])

Alice
Eve

In [11]:
names.append("Frank")
print(names)

['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank']

In [12]:
print(len(names))

6

In [13]:
numbers = [3, 1, 4, 1, 5]
numbers.sort()
print(numbers)

[1, 1, 3, 4, 5]

In [16]:
numbers_tuple = (1, 2, 3, 4, 5)

In [15]:
print(3 in numbers_tuple)  # Output: True

True

In [17]:
students = {"Alice": 85, "Bob": 90, "Charlie": 78}
print(students["Alice"])

85

In [22]:
students["David"] = 88
print(students)

{'Alice': 85, 'Charlie': 78, 'David': 88}

In [25]:
students["Alice"] = 95
print(students)

{'Alice': 95, 'Charlie': 78, 'David': 88}

In [26]:
print(students.keys())

dict_keys(['Alice', 'Charlie', 'David'])

In [27]:
print(students.values())

dict_values([95, 78, 88])

In [28]:
scores_list = list(students.values())
print(scores_list)

[95, 78, 88]

In [29]:
unique_numbers = {1, 2, 3, 4, 5}

In [30]:
unique_numbers.add(6)
print(unique_numbers)

{1, 2, 3, 4, 5, 6}

In [39]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
print(set1.intersection(set2))

{2, 3}

In [40]:
print(set1.union(set2))

{1, 2, 3, 4}

In [41]:
print(set1.issubset(set2))

False

In [42]:
print(set1.difference(set2))

{1}

In [43]:
numbers = [1, 2, 2, 3, 4, 4, 4, 5]
unique_numbers = set(numbers)
print(len(unique_numbers))

5

In [44]:
with open("example.txt", "w") as file:
    file.write("Hello, world!")

In [45]:
with open("example.txt", "r") as file:
    content = file.read()
    print(content)

Hello, world!

In [46]:
with open("example.txt", "a") as file:
    file.write("\nNew line added.")

In [47]:
with open("example.txt", "r") as file:
    for line in file:
        print(line, end="")

Hello, world!
New line added.

In [48]:
with open("example.txt", "r") as file:
    content = file.read()
    word_count = len(content.split())
    print(word_count)

5

In [49]:
import os
os.remove("example.txt")

In [50]:
if os.path.exists("example.txt"):
    print("File exists")
else:
    print("File does not exist")

File does not exist

In [51]:
with open("example.txt", "w") as file:
    file.write("Hello, world!")

with open("example.txt", "r") as src:
    with open("copy.txt", "w") as dst:
        dst.write(src.read())

In [52]:
numbers = [x for x in range(1, 11)]
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [53]:
evens = [x for x in range(1, 21) if x % 2 == 0]
print(evens)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [54]:
squares = [x**2 for x in range(1, 11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [55]:
words = ["hello", "world"]
upper_words = [word.upper() for word in words]
print(upper_words)

['HELLO', 'WORLD']

In [56]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

if num2 != 0:
    print(num1 / num2)
else:
    print("Cannot divide by zero")

0.4